@import "tailwindcss";



/* .header {
    display: flex;
    justify-content: space-between;
    border: 2px black solid;
}
.body {
    display: flex;
}
.brandLogo{
    width: 140px;
}

ul {
    height:40px;
    display: flex;
}

.nav-items {
    margin-left: 20px;
    margin-right: 10px;
    list-style: none;
    font-size: 26px;
}
.navbar {
    margin-top: 35px;
    
}
.res-card {
    background-color: #f0f0f0;
    width: 260px;
    display: flex;
    flex-direction: column;
    border-radius: 3%;
    margin-top: 20px;
}
.cardImage {
  width: 100%;
  height: 180px;        
  object-fit: cover;     
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.leftBody {
    width: 80%;
}
.rightBody{
    width: 20%;
}

.res-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.searchbar {
    width: 90%;
}

.resText{
    padding-right: 1px;
    padding-left: 10px;
}

.res-card:hover {
    border: 2px black solid;
}


.shimmer-card {
    background-color: #f0f0f0;
    height: 420px;
    width: 260px;
    border-radius: 3%;

    margin-top: 20px;
}
.shimmer-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 100px;
}

.search {
    margin-top: 30px;
    margin-left: 50px;
}

.nav-text {
    margin-top: 5px;
}
.btn-login {
    width: 100px;
} */