.header {
    display: flex;
    justify-content: space-between;
}
.body {
    display: flex;
}
.brandLogo{
    width: 140px;
}

ul {
    height:40px;
    display: flex;
}

.nav-items {
    padding  :20px;
    list-style: none;
    padding-top: 30px;
    font-size: 26px;
}

.res-card {
    background-color: #f0f0f0;
    width: 260px;
    display: flex;
    flex-direction: column;
    border-radius: 3%;
    margin-top: 20px;
}
.cardImage {
  width: 100%;
  height: 180px;        
  object-fit: cover;     
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.leftBody {
    width: 80%;
}
.rightBody{
    width: 20%;
}

.res-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.searchbar {
    width: 90%;
}

.resText{
    padding-right: 1px;
    padding-left: 10px;
}

.res-card:hover {
    border: 2px black solid;
}